/* Slither.io game-specific styles */

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game-container * {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
